body {
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif, Arial, Helvetica;
    min-height: 100vh;
    background-image: linear-gradient(to bottom right, #80ED99, #45DFB1, #0AD1C8, #14919B, #086477, #213A57);
}

* {
    padding: 0px;
    box-sizing: border-box;
}